<header>
    <div class="container">
        <div id="logos">
            <div id="logo">
                <img src="/assets/img/logo.png" alt="SM FOOD CORNER">
            </div>
            <a href="#" routerLink="/" class="lname">SM FOOD CORNER</a>
        </div>
        <nav id="navbar">
            <ul>
                <li class="item">
                    <a href="/login">Log In</a>
                </li>
                <li class="item">
                    <a href="/signup">Sign Up</a>
                </li>
                <li class="item">
                    <a routerLink="cart-page">Cart <span>{{totalItem}}</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
